.idea/
AuroraPlus/forms.pyc
AuroraPlus/migrations/0001_initial.pyc
AuroraPlus/migrations/0002_auto_20161118_1054.pyc
AuroraPlus/settings/__init__.pyc
AuroraPlus/settings/constants.pyc
AuroraPlus/templatetags/__init__.pyc
AuroraPlus/templatetags/current_tags.pyc
bin/ServerManaging/__init__.pyc
bin/ServerManaging/manage.pyc
bin/ServerMonitoring/__init__.pyc
bin/ServerMonitoring/collector.pyc
bin/ServerMonitoring/monitor.pyc
bin/__init__.pyc
bin/collector.pyc
bin/cpu.pyc
bin/jsondata.pyc
