html, body {
    background: url("http://i.imgur.com/ZKtcxG5.png") no-repeat !important;
    background-size: cover !important;
    height: 100%;
    width: 100%;
    /*overflow-x: hidden;*/
    overflow: hidden;
}

.centered {
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    padding: 30px 30px 30px 30px;
    /*background-color: rgba(0, 0, 0, 0.4);*/
}

h1 {
    font-family: 'Harmattan', sans-serif;
    color: white;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
}

a:link {
    text-decoration: none;
}
