html {
    height: 100%;
}

body {
    font-family: arial;
    font-size: 13px;
    position: relative;
    height: 100%;
}

#side {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #ffa181;
    overflow: auto;
}
#content {
    position: absolute;
    top: 50px;
    left: 300px;
    bottom: 0;
    right: 0;
    padding-left: 20px;
    overflow: auto;
    background-color: #8782ff;
}

.navbar-light{
    background-color: #69ff8d !important;
}
.navbar-right {
    margin-right: 0;
}