html, body {
    background: lightslategrey !important;
}

.server-page-title{
    color: white;
    border-color: rgb(250, 248, 233)!important;
}

.ServerPanel > .panel-heading {
    background-color: rgb(36, 34, 47) !important;
}

.ServerPanel > .panel-heading > .panel-title {
    color: rgb(250, 248, 233) !important;
}

.ServerPanel > .panel-body {
    background-color: rgb(250, 248, 233) !important;
}

.ServerPanel > .panel-footer {
    background-color: rgb(250, 248, 233) !important;
}

.dashboard-button {
    background-color: rgb(135, 77, 78) !important;
    color: white !important;
}

.dashboard-input {
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
}

.collapsed-div{
    background-color: rgb(250, 248, 233)!important;
}

.tune_it{
    color: white!important;
}