/* Page style */

html {
  position: relative;
  min-height: 100%;
}

body{
    background-color: rgb(102, 105, 124) !important;
    overflow: hidden!important;
}

/* sidebar servers */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease!important;
    -moz-transition: all 0.5s ease!important;
    -o-transition: all 0.5s ease!important;
    transition: all 0.5s ease!important;
}

#wrapper.toggled {
    padding-right: 250px!important;
}

#sidebar-wrapper {
    z-index: 1000!important;
    position: fixed!important;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: rgb(36, 34, 47);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: -20px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: rgb(250, 248, 233);
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/* Panel styles index page */

.panel-default{
  border-radius: 0px!important;
  border-style: none!important;
  box-shadow: none!important;
}

.panel-default > .panel-heading{
    background-color: rgb(36, 34, 47) !important;
    border-radius: 0px!important;
}

.panel-default > .panel-heading > .panel-title{
    color: rgb(250, 248, 233) !important;
    border-radius: 0px!important;
}

.panel-default > .panel-body{
    background-color: rgb(250, 248, 233) !important;
    border-style: none!important;
}

.panel-default > .panel-footer{
    background-color: rgb(250, 248, 233) !important;
    border-radius: 0px!important;
}

/* Index panels style */
.indexbutton{
    background-color: rgb(36, 34, 47) !important;
    color: #fff !important;
    border-radius: 0px !important;
    border: none!important;
}

.form-control{
    border-radius: 0px !important;
}

.page-header{
    color: #3c3c3c !important;
}

.deletebutton{
    border: none !important;
    border-radius: 0 !important;
    width: 100% !important;

}

.editbutton{
    border: none !important;
    border-radius: 0 !important;
    width: 100% !important;

}

/* navbar */
.navbar-light{
    background-color: rgb(250, 248, 233) !important;
    border-radius: 0 !important;
}

.navbar-light > a{
    color: rgb(36, 34, 47) !important;
}

.navbar-light > a:hover{
    color: rgb(65, 63, 71) !important;
}