<script>
    function getCpuData() {
        var xmlhttp = new XMLHttpRequest();
        var ServerKey = "";
        ServerKey = "{{ ServerKey }}";
        if (ServerKey != "") {
            xmlhttp.open("GET", "/live/CPU_Usage/key/" + ServerKey + "/time/0/", false);
            console.log(ServerKey);
        }else {
            {#            xmlhttp.open("GET", "/live/CPU_Usage/key/Lqdie4ARBhbJtawrmTBCkenmhb9rvqgRzWN/time/0/", false);#}
            xmlhttp.open("GET", "/live/CPU_Usage/key/" + ServerKey + "/time/0/", false);

        }

        xmlhttp.send();

        var cpu_data = xmlhttp.responseText;
        cpu_data = parseInt(cpu_data);
        console.log(cpu_data);
        return cpu_data
    }

        var cpuCanvas = document.getElementById('cpuChart');

        var cpu_data = getCpuData(cpu_data);

        var data = {
            labels: ["CPU usage"],
            datasets: [
                {
                    label: "CPU usage",
                    fill: false,
                    lineTension: 0.1,
                    backgroundColor: "rgba(255,60,38, 0.8)",
                    borderColor: "rgba(255,60,38, 0.8)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(255,60,38, 0.8)",
                    pointBackgroundColor: "rgba(255,60,38, 0.8)",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(255,60,38, 0.8)",
                    pointHoverBorderColor: "rgba(255,60,38, 0.8)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 5,
                    pointHitRadius: 10,
                    data: [cpu_data]
                }
            ]
        }

        function CpuData() {
            var cpu_data = getCpuData(cpu_data);
            myCpuChart.data.datasets[0].data[0] = [cpu_data];
            myCpuChart.data.labels[0] = "CPU usage: " + [cpu_data];
            myCpuChart.update();
        }

        var option = {
            showLines: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }]
            },
            responsive: true,
            legend: {
                display: false
            },
            tooltips: {
                enabled: false
            }
        };

        var myCpuChart = Chart.Bar(cpuCanvas, {
            data: data,
            options: option
        });

    setInterval(function refreshCPU() {
        getCpuData();
        CpuData();
    }, 800);
</script>