<script>
    function getNetworkData() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/live/Network_Usage/key/Lqdie4ARBhbJtawrmTBCkenmhb9rvqgRzWN/time/0/", false);
        xmlhttp.send();

        var JsonObject = JSON.parse(xmlhttp.responseText);

        var received = JsonObject.Sent;
        var sent = JsonObject.Received;

        network_data = [received, sent];
        console.log(network_data);
        return network_data
    }

    var network_chart = document.getElementById('networkChart');

    var network_data = getNetworkData(network_data);
    var received = parseInt(network_data[0]);
    var sent = parseInt(network_data[1]);
    console.log(received, sent);

    var data = {
        labels: ["Incoming", "Outgoing"],
        datasets: [{
            label: "Traffic",

            data: [received, sent],
            backgroundColor: [
                'rgba(63, 108, 255, 0.8)',
                'rgba(255,60,38, 0.8)'

            ],
            borderColor: [
                'rgba(63, 108, 255, 0.8)',
                'rgba(255,60,38, 0.8)'
            ],
            borderWidth: 1
        }]
    }



    function NetworkData() {
        var network_data = getNetworkData(network_data);
        var received = parseInt(network_data[0]);
        var sent = parseInt(network_data[1]);

        var highestValue;
        if (received > sent) {
            highestValue = received;
        }else{
            highestValue = sent;
        }

        var maximum;
        if (highestValue < 50000) {
            maximum = 50000
        }
        else if (highestValue > 50000 && highestValue < 100000) {
            maximum = 100000
        }
        else if(highestValue > 100000 && highestValue < 500000) {
            maximum = 500000
        }
        else if(highestValue > 500000 && highestValue < 1000000) {
            maximum = 1000000
        }
        else if(highestValue > 1000000 && highestValue < 10000000) {
            maximum = 10000000
        }
        else if(highestValue > 10000000 && highestValue < 100000000) {
            maximum = 100000000
        }

        networkChart.data.datasets[0].data[0] = [received];
        networkChart.data.labels[0] = "In: " + [received];
        networkChart.data.datasets[0].data[1] = [sent];
        networkChart.data.labels[1] = "Out: " + [sent];
        networkChart.config.options.scales.yAxes[0].ticks.max = parseInt(maximum);
        networkChart.update();
    }

    var option = {
        showLines: true,
        scales: {
            yAxes: [{
                display: true,
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        responsive: true,
        legend: {
            display: false
        },
        tooltips: {
            enabled: false
        }
    };

    var networkChart = Chart.Bar(network_chart, {
        data: data,
        options: option
    });

    setInterval(function updateNetworkChart() {
        getNetworkData();
        NetworkData();
    }, 1000);
</script>