<script>
    function getNetworkData() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/live/Network_Usage/key/Lqdie4ARBhbJtawrmTBCkenmhb9rvqgRzWN/time/0/", false);
        xmlhttp.send();

        var JsonObject = JSON.parse(xmlhttp.responseText);

        var received = JsonObject.Sent;
        var sent = JsonObject.Received;

        network_data = [received, sent];
        console.log(network_data);
        return network_data
    }

    var network_chart = document.getElementById('networkChart');

    var network_data = getNetworkData(network_data);
    var received = parseInt(network_data[0]);
    var sent = parseInt(network_data[1]);
    console.log(received, sent);

    var data = {
        labels: ["Incoming", "Outgoing"],
        datasets: [{
            label: 'Traffic',

            data: [received, sent],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(63, 191, 191, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(63, 191, 191, 1)'
            ],
            borderWidth: 1
        }]
    }



    function NetworkData() {
        var network_data = getNetworkData(network_data);
        var received = parseInt(network_data[0]);
        var sent = parseInt(network_data[1]);

        if (received < 100000) {
            var net_max = 500000;
        }
        else if(received < 1000000) {
            var net_max = 5000000;
        }
        else if(received < 10000000) {
            var net_max = 50000000;
        }

        networkChart.data.datasets[0].data[0] = [received];
        networkChart.data.labels[0] = "Incoming: " + [received];
        networkChart.data.datasets[0].data[1] = [sent];
        networkChart.data.labels[1] = "Outgoing: " + [sent];
        networkChart.config.options.scales.yAxes[0].ticks.max = net_max;
        networkChart.update();
    }

    var option = {
        showLines: true,
        scales: {
            yAxes: [{
                display: true,
                stacked: true,
                ticks: {
                    min: 1000,
                    max: 100000
                }
            }]
        },
        responsive: true,
        legend: {
            display: false
        },
        animation: false,
        tooltips: {
            enabled: false
        }
    };

    var networkChart = Chart.Bar(network_chart, {
        scaleOverride:true,
        data: data,
        options: option
    });

    setInterval(function updateNetworkChart() {
        getNetworkData();
        NetworkData();
    }, 800);
</script>