<script>
function drawNetwork() {
    var network = document.getElementById("NetworkChart").getContext("2d");

    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", "/live/Network_Usage/key/Lqdie4ARBhbJtawrmTBCkenmhb9rvqgRzWN/time/0/", false);
    xmlhttp.send();

    var JsonObject = JSON.parse(xmlhttp.responseText);

    var received = JsonObject.Sent;
    var sent = JsonObject.Received;


    NetworkChart = new Chart(network, {
        type: 'bar',
        data: {
            labels: ["Incoming traffic", "Outgoing traffic"],
            datasets: [{
                label: 'Traffic',
                data: [parseInt(received), parseInt(sent)],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(63, 191, 191, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(63, 191, 191, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            responsive: false,
            legend: {
                display: false
            },
            animation: false
        }
    });
}

drawNetwork();

setInterval(function refreshNetwork() {
    NetworkChart.destroy();
    drawNetwork();
}, 1000);
</script>