<script>
    function getRamData() {
        var xmlhttp = new XMLHttpRequest();
        var ServerKey = "";
        ServerKey = "{{ ServerKey }}";
        if (ServerKey != "") {
            xmlhttp.open("GET", "/live/RAM_Usage/key/" + ServerKey + "/time/0/", false);
            console.log(ServerKey);
        }else {
            {#            xmlhttp.open("GET", "/live/RAM_Usage/key/Lqdie4ARBhbJtawrmTBCkenmhb9rvqgRzWN/time/0/", false);#}
            xmlhttp.open("GET", "/live/RAM_Usage/key/" + ServerKey + "/time/0/", false);

        }
        xmlhttp.send();

        var ram_data = xmlhttp.responseText;
        ram_data = parseInt(ram_data);
        console.log(ram_data);
        return ram_data
    }

        var canvas = document.getElementById('ramChart');

        var ram_data = getRamData(ram_data);

        var data = {
            labels: ["RAM usage"],
            datasets: [
                {
                    label: "RAM usage",
                    lineTension: 0.1,
                    backgroundColor: "rgba(63, 108, 255, 0.8)",
                    borderColor: "rgba(63, 108, 255, 0.8)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(63, 108, 255, 0.8)",
                    pointBackgroundColor: "rgba(63, 108, 255, 0.8)",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(63, 108, 255, 0.8)",
                    pointHoverBorderColor: "rgba(63, 108, 255, 0.8)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 5,
                    pointHitRadius: 10,
                    data: [ram_data]
                }
            ]
        }

        function RamData() {
            var ram_data = getRamData(ram_data);
            myRamChart.data.datasets[0].data[0] = [ram_data];
            myRamChart.data.labels[0] = "RAM usage: " + [ram_data];
            myRamChart.update();
        }

        var option = {
            showLines: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }]
            },
            responsive: true,
            legend: {
                display: false
            },
            tooltips: {
                enabled: false
            }
        };

        var myRamChart = Chart.Bar(canvas, {
            data: data,
            options: option
        });

    setInterval(function refreshRam() {
        getRamData();
        RamData();
    }, 1000);
</script>