{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="{% static "jQuery/jquery-2.2.4.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "custom/styles.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}"/>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-faded" style="background-color: #eae3ed !important; border-radius: 0 !important;">
      <a class="navbar-brand" href="#">Navbar</a>
    </nav>
</body>
</html>
    <ul class="nav nav-tabs">
        {% for server in servers %}
            <li><a data-toggle="tab" href={{ server }}>{{ server }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>