{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="{% static "custom/css/logout.css" %}"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"/>
    <script type="text/javascript" src="{% static "custom/js/LogoutCounter.js" %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Armata|Bangers|Harmattan|Lato|Orbitron" rel="stylesheet"/>
</head>
<body>
<div class="centered">
    <a id="retry" href="/login/" class="button success radius large"><h1>Redirecting in <span id="counter"></span></h1>
        <i class="fi-refresh"></i></a>
</div>
<script> startCounter();</script>
</body>
</html>
