{% load static from staticfiles %}
{% load current_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aurora</title>
    <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}">
    <script type="text/javascript" src="{% static "jQuery/jquery-2.2.4.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}"/>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "custom/css/navbar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "custom/css/sidebar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "custom/css/logs.css" %}"/>
</head>
<body>
{% include 'top.html' %}

<div class="col-lg-10 col-lg-offset-1">
    <h1 class="page-header logs-title">Logs</h1>
    <h3 class="logs_subtitle">Logs of past 3 hours</h3>
    <br>
    <div class="col-md-8 logs_panel">
        <p>
            {% for item in logs %}
                {% if item != '' %}
                    <ul>
                        <li>{{ item }}</li>
                    </ul>
                {% endif %}
            {% endfor %}
        </p>
    </div>
    <div class="col-md-3 col-md-offset-1 info_panel">
        <h3>Info</h3>
        <p>
            These are the logs of the last 3 hours. In the future we will implement
            a system that lets you choose which period you want to view, but at this
            moment that is not the case yet.
        </p>
        <p>
            The logs are created if something important happened. If the logs field is
            empty that means nothing important happened.
        </p>
    </div>
</div>
</body>
</html>