{% load static from staticfiles %}
{% load current_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aurora</title>
    <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}">
    <script type="text/javascript" src="{% static "jQuery/jquery-2.2.4.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}"/>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "custom/css/navbar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "custom/css/sidebar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "custom/css/logs.css" %}"/>
</head>
<body>
{% include 'top.html' %}

<div class="col-lg-10 col-lg-offset-1">
    <h1 class="page-header logs-title">Logs</h1>
    <h3 class="page-subtitle">These are the logs from the past three hours.</h3>
    <div class="col-md-8 logs-panel">
        <p>
            {% for item in logs %}
                {% if item != '' %}
                    <ul class="logs-list">
                        <li>{{ item }}</li>
                    </ul>
                {% endif %}
            {% endfor %}
        </p>
    </div>
    <div class="col-md-3 col-md-offset-1 side-panel">
        <h4>Info</h4>
        <p>
            These are the logs from the last three hours the client was active. In the future we will implement a
            system so that the user can select which period he wants to view back. The newest logs are in the bottom
            off the logs.
        </p>
        <p>
            Only if there is something important happening to RAM or CPU it is visible here. If one of them is spiking
            for a longer time you will see that there are more logs displaying the percentage.
        </p>
    </div>
</div>
</body>
</html>