{% load static from staticfiles %}
{% load current_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aurora</title>
    {% comment %}<link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}">{% endcomment %}
    <script type="text/javascript" src="{% static "jQuery/jquery-2.2.4.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}"/>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "custom/css/navbar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "custom/css/sidebar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "custom/css/messages.css" %}"/>
</head>
<body>
{% include 'top.html' %}
<div id="side">
    <h3 class="messages-title">Messages</h3>
    <table class="table">
        {% for message in Messages %}
            {% if message.Message_Read == 0 %}
                <tr class="message unread">
                    <td><b><a href="/messages/{{ message.ID }}">{{ message.Message_Name }}</a></b></td>
                    <td><b>{{ message.Date_Received }}</b></td>
                </tr>
            {% elif message.Message_Read == 1 %}
                <tr class="message read">
                    <td><a href="/messages/{{ message.ID }}">{{ message.Message_Name }}</a></td>
                    <td>{{ message.Date_Received }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
<div id="content">
    {% if message_id == "0" %}
        <h2 class="message-title">Message</h2>
        <p class="message-text">You can view all messages about your servers.</p>
    {% else %}
        {% for item in selected_message %}
            <h2 class="message-title">{{ item.Message_Name }}</h2>
            <p class="message-date">{{ item.Date_Received }}</p>
            <p class="message-text">{{ item.Message_Text }}</p>
        {% endfor %}
    {% endif %}
</div>
</body>
</html>

<style>
    a {
        color: white;
        text-decoration: none;
    }

    #child{
        position: absolute;
        display: none;
        top: 200px;
        z-index: 9;
        color: red;
    }

    #child:target{

        display: block;
    }

    table.coolTable td {
        background-color: purple;
        color: green;
    }

    table.coolTable td:hover {
        background-color: green;
        color: green;
    }

    td a {
        display: block;
        width: 100%;
    }

</style>