{% load static from staticfiles %}
{% load current_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aurora</title>
    {% comment %}<link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}">{% endcomment %}
    <script type="text/javascript" src="{% static "jQuery/jquery-2.2.4.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}"/>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/font-awesome.min.css" %}">
    <script src="{% static "Chart/chart.js/dist/Chart.js" %}"></script>
    <script type="text/javascript" src="{% static "custom/js/ServerPage/Ping.js" %}"></script>
    <script type="text/javascript" src="{% static "custom/js/ServerPage/CheckServer.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "custom/css/server_page.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "custom/css/navbar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "custom/css/sidebar.css" %}"/>
</head>
<body>
{% include 'top.html' %}
{% if server_all %}
    <div class="col-lg-10 col-lg-offset-1">
        <h2 class="page-header server-page-title">{{ server_name }}</h2>
        <div class="row">

            {% comment %}Start collapsible heading{% endcomment %}
            <div class="panel panel-default ServerPanel custom-margin">
                <div class="panel-heading custom-collapse-button">
                    <h2 class="panel-title pull-left">General</h2>
                    <a href="#" data-toggle="collapse" data-target="#improvementsPanel" aria-expanded="true"
                       class=""><i class="fa fa-bars" aria-hidden="true"></i></a>
                </div>
                <div id="improvementsPanel" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="row collapsed-div">
                        <div class="col-md-3">
                            <div class="row row-table fa-class">
                                <div class="col-xs-3">
                                    <i class="fa fa-server fa-3x"></i>
                                </div>
                                <div class="col-xs-9">
                                    <div id="ServerOnlineOutput">...</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row row-table fa-class">
                                <div class="col-xs-3">
                                    <i class="fa fa-exchange fa-3x"></i>
                                </div>
                                <div class="col-xs-9">
                                    <p>
                                        Disk usage (read/write) <br />
                                        Read: {{ disk_read }} Write: {{ disk_write }} <br />
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row row-table fa-class">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-3x"></i>
                                </div>
                                <div class="col-xs-9">
                                    <p>Overall disk usage: {{ disk_usage }}%</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row row-table fa-class">
                                <div class="col-xs-3">
                                    <i class="fa fa-signal fa-3x"></i>
                                </div>
                                <div class="col-xs-9">
                                    <div id="PingOutput">...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %}End collapsible heading{% endcomment %}

            {% comment %}Start LeftSidePanels{% endcomment %}
            <div class="panel panel-default ServerPanel custom-margin">
                <div class="panel-heading custom-collapse-button">
                    <h2 class="panel-title pull-left">Options</h2>
                    <a href="#" data-toggle="collapse" data-target="#Options" aria-expanded="true"
                       class=""><i class="fa fa-bars" aria-hidden="true"></i></a>
                </div>
                <div id="Options" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="row collapsed-div">
                        <div class="col-md-3">
                            <p>
                                Name: {{ server_name }}<br>
                                Server SSL: {{ ssl }}<br>
                                Server Lan address: {{ lan_ip }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default ServerPanel custom-margin">
                <div class="panel-heading custom-collapse-button">
                    <h2 class="panel-title pull-left">Properties</h2>
                    <a href="#" data-toggle="collapse" data-target="#properties" aria-expanded="true"
                       class=""><i class="fa fa-bars" aria-hidden="true"></i></a>
                </div>
                <div id="properties" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="row collapsed-div">
                        <div class="col-md-3">
                            <p>
                                Name: {{ server_name }}<br>
                                Server SSL: {{ ssl }}<br>
                                Server Lan address: {{ lan_ip }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %}End LeftSidePanels{% endcomment %}

            <div class="col-md-12 IndexColumn">
                <div class="livecpu col-md-6">
                    <div class="panel panel-default ServerPanel">
                        <div class="panel-heading">
                            <h2 class="panel-title">NetworkChart </h2>
                        </div>
                        <div class="panel-body HasToScroll Refresh">
                            <canvas id="networkLineChart" width="400" height="250"></canvas>
                            {% include 'charts/network_line_chart.html' %}
                        </div>
                    </div>
                </div>
                <div class="livecpu col-md-6">
                    <div class="panel panel-default ServerPanel">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                RamChart
                                {% if ram_height == 1 %}
                                    <i class="fa fa-exclamation-circle" style="color: red"></i>
                                {% endif %}
                            </h2>
                        </div>
                        <div class="panel-body HasToScroll Refresh">
                            <canvas id="ramLineChart" width="400" height="250"></canvas>
                            {% include 'charts/ram_line_chart.html' %}
                        </div>
                    </div>
                </div>
            </div>

            {% comment %}Start RightSidePanels{% endcomment %}
            <div class="col-md-12 IndexColumn">
                <div class="livecpu col-md-4">
                    <div class="panel panel-default ServerPanel">
                        <div class="panel-heading">
                            <h2 class="panel-title">Live cpu use (percentages) </h2>
                        </div>
                        <div class="panel-body HasToScroll Refresh">
                            <canvas id="cpuChart" width="400" height="250"></canvas>
                            {% include './charts/cpu_chart.html' %}
                        </div>
                    </div>
                </div>
                <div class="averagecpu col-md-4">
                    <div class="panel panel-default ServerPanel">
                        <div class="panel-heading">
                            <h2 class="panel-title">Live network usage</h2>
                        </div>
                        <div class="panel-body HasToScroll Refresh1">
                            <canvas id="networkChart" width="400" height="250"></canvas>
                            {% include './charts/network_chart.html' %}
                        </div>
                    </div>
                </div>
                <div class="averagecpu col-md-4">
                    <div class="panel panel-default ServerPanel">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                Live RAM usage
                                {% if ram_height == 1 %}
                                        <i class="fa fa-exclamation-circle" style="color: red"></i>
                                {% endif %}
                            </h2>
                        </div>
                        <div class="panel-body HasToScroll Refresh1">
                            <canvas id="ramChart" width="400" height="250"></canvas>
                            {% include './charts/ram_chart.html' %}
                        </div>
                    </div>
                </div>
            </div>
            {% comment %}End RightSidePanels{% endcomment %}

        </div>
    </div>
{% endif %}
</body>
</html>