<script>
    function getData() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/live/Network_Usage/key/Lqdie4ARBhbJtawrmTBCkenmhb9rvqgRzWN/time/0/", false);
        xmlhttp.send();

        var JsonObject = JSON.parse(xmlhttp.responseText);

        var received = JsonObject.Sent;
        var sent = JsonObject.Received;

        chart_data = [received, sent];
        console.log(chart_data);
        return chart_data
    }

        var canvas = document.getElementById('testChart');

        var chart_data = getData(chart_data);
        var received = parseInt(chart_data[0]);
        var sent = parseInt(chart_data[1]);
        console.log(received, sent);

        var data = {
            labels: ["Incoming", "Outgoing"],
            datasets: [{
                label: 'Traffic',
                data: [received, sent],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(63, 191, 191, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(63, 191, 191, 1)'
                ],
                borderWidth: 1
            }]
        }

        function adddata() {
            var chart_data = getData(chart_data);
            var received = parseInt(chart_data[0]);
            var sent = parseInt(chart_data[1]);

            myLineChart.data.datasets[0].data[0] = [received];
            myLineChart.data.labels[0] = "Incoming: " + [received];
            myLineChart.data.datasets[0].data[1] = [sent];
            myLineChart.data.labels[1] = "Outgoing: " + [sent];
            myLineChart.update();
        }

        var option = {
            showLines: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 1000000
                    }
                }]
            },
            responsive: true,
            legend: {
                display: false
            },
            animation: false,
            tooltips: {
                enabled: false
            }
        };

        var myLineChart = Chart.Bar(canvas, {
            data: data,
            options: option
        });

    setInterval(function refreshChart() {
        getData();
        adddata();
    }, 800);
</script>