<script>
    function getChartData() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/live/Network_Usage/key/Lqdie4ARBhbJtawrmTBCkenmhb9rvqgRzWN/time/0/", false);
        xmlhttp.send();

        var JsonObject = JSON.parse(xmlhttp.responseText);

        var sent = JsonObject.Received;

        chart_data = [sent];
        console.log(chart_data);
        chart_data = parseInt(chart_data);
        return chart_data
    }

    var chart_data = getChartData(chart_data);
    var canvas = document.getElementById('myChart');
    var data = {
        labels: ["35 sec. ago: ", "30 sec. ago: ", "25 sec. ago: ", "20 sec. ago: ", "15 sec. ago: ", "10 sec. ago: ", "5 sec. ago: ", "Now: "],
        datasets: [
            {
                label: "Outgoing: ",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 5,
                pointHitRadius: 10,
                data: [0,0,0,0,0,0,0,0]
            }
        ]
    };

    function adddata() {
        myLineChart.data.datasets[0].data[0] = myLineChart.data.datasets[0].data[1];
        myLineChart.data.datasets[0].data[1] = myLineChart.data.datasets[0].data[2];
        myLineChart.data.datasets[0].data[2] = myLineChart.data.datasets[0].data[3];
        myLineChart.data.datasets[0].data[3] = myLineChart.data.datasets[0].data[4];
        myLineChart.data.datasets[0].data[4] = myLineChart.data.datasets[0].data[5];
        myLineChart.data.datasets[0].data[5] = myLineChart.data.datasets[0].data[6];
        myLineChart.data.datasets[0].data[6] = myLineChart.data.datasets[0].data[7];
        myLineChart.data.datasets[0].data[7] = getChartData(chart_data);
        myLineChart.data.labels[7] = "Now: ";
        myLineChart.update();
    }

    var option = {
        showLines: true,
        animation: false
    };
    var myLineChart = Chart.Line(canvas, {
        data: data,
        options: option
    });

    setInterval(function myLineChart() {
        getChartData();
        adddata();
    }, 5000);
</script>