    <nav class="navbar navbar-light bg-faded">
        {% comment %}Left side menu{% endcomment %}
        <a class="navbar-brand" href="../../">Aurora</a>

        {% comment %}right side menu{% endcomment %}
        <a class="navbar-brand navbar-right" href="#menu-toggle" id="menu-toggle"style="margin-right: 10px;">View servers</a>
    </nav>

    <div id="wrapper">

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                {% for name in server_all %}
                    <li>
                        <a href="/server/{{ name.ServerInfo.ID }}" >{{ name.ServerInfo.Name }}</a>
                    </li>
                    {% empty %}
                    <li>No servers found.</li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>