{% load static from staticfiles %}
<nav class="navbar navbar-light bg-faded">
    {% comment %}Left side menu{% endcomment %}
    <a class="navbar-brand" href="/dashboard/">Aurora</a>

    {% comment %}right side menu{% endcomment %}
    <div class="navbar-right col-md-4">
        <a class="pull-right navbar-item" href="#menu-toggle" id="menu-toggle"><i class="fa fa-server fa-2x"></i></a>
        <a class="pull-right navbar-item" href="/logout/" id="logout"><i class="fa fa-sign-out fa-2x"></i></a>
    </div>
</nav>

<div id="wrapper">

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <br>
            <br>
            <li>
                <img style="max-width: 230px; margin-left: -15px;" src="{% static 'images/logo.png' %}"/>
            </li>
            <hr class="sidebardivider"/>
            {% for item in server_list %}
                <li>
                    <a href="/server/{{ item.ID }}"> {{ item.Server_Name }} </a>
                </li>
            {% empty %}
                <li>No servers found.</li>
            {% endfor %}
        </ul>
    </div>

</div>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>